@import "tailwindcss";

html,
body {
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
  height: 100%;
  width: 100%;
}

.safe-top {
  padding-top: env(safe-area-inset-top);
}
.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
